<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thyn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Subu remove this when production -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <permission
        android:name="com.thyn.backend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.thyn.backend.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thyn_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".tasklist.TaskListActivity" />
        <activity
            android:name=".tab.WelcomePageActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".task.view.TaskPagerViewOnlyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.view.my.MyTaskPagerViewOnlyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.view.edit.TaskPagerEditOnlyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.view.iwillhelp.TaskIWillHelpPagerViewOnlyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasklist.my.completed.MyCompletedTaskListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.TaskActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thyn.tasklist.TaskListActivity" />
        </activity>
        <activity
            android:name=".task.RandomTaskActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".field.AddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thyn.task.TaskActivity" />
        </activity>
        <activity
            android:name=".user.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Bluey" />
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Bluey" />
        <activity
            android:name=".intro.IntroLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".intro.IntroActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".intro.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.LoginSplash"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".broadcast.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.thyn.broadcast" />
                <!-- for pre kit-kat devices; Source - https://developers.google.com/cloud-messaging/android/client#manifest -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".broadcast.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".broadcast.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".broadcast.GcmRegistrationIntentService"
            android:exported="false" />
        <service android:name=".connection.PollService" />

        <activity
            android:name=".tab.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <!-- Subu to delete this activity before going to production -->
        <activity
            android:name=".deleteMeInProd.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8I-acOlnjs33e7x7xXQF08AnEqizJmcw" />

        <activity
            android:name=".task.ThumbsUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".intro.BasicProfileActivity" />
        <activity
            android:name=".navigate.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".navigate.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


    </application>

</manifest>
